/* #btn{
    width: 5px;
    width: fit-content;
    height: 30px;
    background-color: rgba(247, 41, 41, 0.586);
    border-radius: 50%;
    z-index: 10000;
    appearance: auto;
    align-items: flex-start;
    text-align: center;
    white-space: pre;
    padding-block: 5px;
    padding-inline: 6px;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    box-sizing: border-box; 
} */

.delete-btn .btn {
  box-sizing: border-box;
  border-radius: 50%;
  width: 11%;
  height: 10%;
  background-color: rgba(247, 41, 41, 0.586);
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 1;
  position: absolute;
  margin: 5px;
  padding: 5px;
}

.delete-btn .btn:hover {
  background-color: darkred;
}
