.destinasjonsBilde{
    width: 300px;
    margin-left: 2%;
    margin-right: auto;
    margin-top: 30px;
}   
.destinasjonsBoks{
    vertical-align: top;
    width: 400px;
    height: 400px;
    display: inline-block;
    margin: 30px;
    padding: 20px;
    background-color: rgb(236, 236, 236);
    position: relative;
}

.beskrivelse{
    display: none;
}

#stylingDiv{
    position: absolute;
    top: 5px;
    right: 5px;
}

#tittelDiv{
    display: inline-block;
    width: 20px;
    position: absolute;
    top: 5px;
    left: 5px;
}