.destinasjonsBilde{
    width: 100%;
    height: 100%;
    /*object-position: center top;*/
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;


}   

#destinasjonsBildeDiv{
    width: 100%;
    height: 200px;
    overflow: hidden;
}


.destinasjonsBoks{
    border-radius: 20px;
    width: 340px;
    height: 340px;
    vertical-align: top;
    display: inline-block;
    margin: 1%;
    background-color: rgb(236, 236, 236);
    position: relative;
    margin-top: 40px;
    margin-right: 10px;
    margin-bottom: 1%;

}

.destinasjonsBoks a{
    color: rgb(0, 0, 0);
    text-decoration: none;

  }

  .destinasjonsBoks a:hover{
    text-decoration: underline;

  }


#ratingDiv{
    position: absolute  ;
    top: 5px;
    right: 5px;
    font-size: larger;
}


#underBilde{
    position: absolute;
    width: 100%;
    height: 100px;
}

#underTittel{
    position: absolute;
    height: 100px;
    padding-left: 5px;
}

#tittelDiv{
    display: inline-block;
    width: 100px;
    position: relative;
    top: 5px;
    left: 5px;
}

#tittelDiv p{
    font-size: larger;
    margin: 0;
}


#tekstBeskrivelseReisedestinasjonsBoksDiv{
    left: 10px;
}

#tekstBeskrivelseReisedestinasjonsBoks{
    font-size: 15px;
}