.destinasjonsBilde{
    width: 100%;
    height: 100%;
    /*object-position: center top;*/
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;


}   

#destinasjonsBildeDiv{
    width: 100%;
    height: 200px;
    overflow: hidden;
}


.destinasjonsBoks{
    border-radius: 20px;
    width: 30%;
  
    overflow: hidden;
    height: 340px;
    vertical-align: top;
    display: inline-block;
    margin: 1%;
    background-color: rgb(236, 236, 236);
    position: relative;
    margin-top: 2%;
    margin-right: 2%;
    box-shadow: 0px 2px  rgb(185, 191, 197);
    

}

.destinasjonsBoks a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    

  }

  .destinasjonsBoks a:hover{
    text-decoration: underline;

  }


#ratingDiv{
    position: absolute  ;
    top: 5px;
    right: 5px;
    font-size: larger;
    padding: 4px;

}


#underBilde{
    position: absolute;
    width: 100%;
    height: 100px;
}

#underTittel{
    position: absolute;
    height: 100px;
    padding-left: 5px;
}

#tittelDiv{
    display: inline-block;
    width: 100px;
    position: relative;
    top: 5px;
    left: 5px;
}

#tittelDiv p{
    font-size: larger;
    margin: 0;
    padding: 4px;
}


#tekstBeskrivelseReisedestinasjonsBoksDiv{
    left: 10px;
}

#tekstBeskrivelseReisedestinasjonsBoks{
    font-size: 15px;
    padding: 4px;
}

.Traveldestinations{
    margin-top: 5%;
}