#content {
  width: 90%;
  border-radius: 5px;
  /* background-color: lightblue; */
  margin: auto;
  margin-top: 1.5%;
}

#body {
  display: flex;
  flex-direction: row;
}

#right-side {
  width: 30%;
  margin-top: 50px;
}

#left-side {
  width: 70%;
  margin-left: 5%;
}

#tittel {
  display: flex;
  flex-direction: row;
  padding: 0;
}

#overtittel {
  font-weight: bold;
  font-size: large;
  font-size: 64px;
  text-align: left;
  margin: 0 10px 0 5px;
  padding: 0;
  font-family: Consolas, monaco, monospace;
  color: #0047ab;
}

#undertittel {
  font-size: 24px;
  padding-top: 36px;
  margin: 0;
  font-family: Consolas, monaco, monospace;
}

#contenttittel {
  font-size: 24px;
  font-weight: bold;
}

.BildePaDestinasjonsside {
  position: relative;
  border-radius: 20px;
  height: auto;
  width: 65%;
}

#destinasjonsside {
  margin: 75px 0 0 0;
  padding: 5px;
  border-radius: 2px;
}

.bildediv {
  text-align: center;
}

.kategoridiv {
  list-style: none;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: left;
  width: 70%;
  margin-left: 10px;
}

.listitem {
  border-radius: 10px;
  border: 2px solid black;
  margin-right: 5px;
  padding: 2px;
  width: 15%;
  text-align: center;
  background-color: rgb(197, 173, 173);
  font-family: monospace;
  font-weight: bold;
  font-size: 18px;
}

#ratings {
  margin: auto;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  width: 90%;
  text-align: center;
  margin: auto;
  
}

#ratingboks {
  padding-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  display: flex;
  margin: 0 auto;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.ratingtittel {
  font-size: 24px;
  margin-bottom: 5px;
  padding-bottom: 10px;
}

#description {
  width: 90%;
  margin: auto; 
}

.rating-star {
  color: #ffc107;
  font-size: 175%;
  margin:  0;
}

#snittvurdering-tall {
  font-size: 175%;
  margin: 0;
}
