.defaultMain{
    padding-bottom: 80px;
    padding-top: 20px;
    width: 80%;

}

.loginMain{
    padding-bottom: 80px;
    padding-top: 20px;
    width: 100%;

}

#destinasjonsBokserDiv{
    padding: 5px
}



