
#footer {
  color: rgb(67, 69, 70);
  font-size: large;
  position:relative;
    height: 50px;
    background-color: lightgrey;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#header {
  color: white;
  font-size: x-large;
  padding: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  background-color: rgb(54, 53, 53);
  margin: 10;


}

#links a{
  color: white;
  text-decoration: none;
  background-color: rgb(54, 53, 53);

}


#navtohome{
  position: absolute;
  display: inline-block;
  left: 20px;
  
}

#navlinklogginn{
  position: absolute;
  right: 20px;

}
