#footer {
  color: rgb(67, 69, 70);
  font-size: large;
  position: sticky;
  height: 50px;
  background-color: rgb(230, 223, 223);
  bottom: 0px;
  margin-bottom: 0;
  left: 0px;
  right: 0px;
  z-index: 0;
  flex: 1;
  padding: 5px 0 5px 0;
}

#header {
  display: flex;
  position: fixed;
  color: black;
  font-size: x-large;
  z-index: 1;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  background-color: rgb(197, 173, 173);
  height: 10%;
  overflow: hidden;
  top: 0;
}

#linksContainer {
  padding: 1.5%;
}
.links a {
  color: black;
  text-decoration: none;
}
.links {
  color: black;
  text-decoration: none;
}

#sidebarOnButton {
  right: 0.3%;
  top: 15%;
  position: absolute;
}

#navtohome {
  position: absolute;
  display: inline-block;
  left: 20px;
}

#navlinklogginn {
  position: absolute;
  right: 5%;
}

#sidetab2 {
  border: 2px solid black;
  border-right: none;
  border-top: none;
  border-bottom-left-radius: 10px;
  background-color: rgb(205, 189, 189);
  padding: 5px;
  position: fixed;
  /* right: 101.5%; */
  top: 0;
  margin-right: -5px;
  z-index: 100;
}

img#sidetabimg2 {
  width: 22.5px;
  max-height: 30px;
}

a.float:hover {
  color: red;
}
