
#footer {
  color: rgb(67, 69, 70);
  font-size: large;
  position: sticky;
  height: 50px;
  background-color: rgb(230, 223, 223);
  bottom: 0px;
  margin-bottom: 0;
  left: 0px;
  right: 0px;
  z-index: 0;
  flex: 1;
  padding: 5px 0 5px 0;
}

#header {
  display: flex;
  position: fixed;
  color: black;
  font-size: x-large;
  z-index: 2;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  background-color: rgb(197, 173, 173);
  height: 10%;
  overflow : visible;

}

#linksContainer{
  padding: 1.5%;
}



#navtohome{
  position: absolute;
  display: inline-block;
  left: 20px;
  color: black;
  text-decoration: none;
  background-color: rgb(197, 173, 173);
  
}

#navlinklogginn{
  position: absolute;
  right: 5%;
  color: black;
  text-decoration: none;
  background-color: rgb(197, 173, 173);

}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(197, 173, 173);
  width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: 25px;
  border: 2px solid grey;
  padding: 20px;
  width: 200px;
  height: auto;
  font-size: large;
}

.dropdown:hover .dropdown-content, 
.dropdown-content:hover {
  display: block;
}

.dropdown {
  position: absolute;
  right:5%;
  width: 300px;
}

.dropdown:hover .dropdown-content {
  right: 0; 
  top: calc(100% + 25px); 
}

.dropdownLink{
  color: black;
  text-decoration: none;
  background-color: rgb(197, 173, 173);

}

.dropdownLink:hover{
  color: white;
}










