.Rating {
  font-family: sans-serif;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
}

/*denne endrer inputs den ikke burde*/
.ratingRadio {
  display: none;
}

.star {
  cursor: pointer;
  font-size: 1.75rem;
  margin: 0.05%;
  text-align: center;
}

#remove-rating {
  border: 2px solid;
  transition-duration: 0.4s;
}

#remove-rating:hover {
  background-color: lightgray;
}

.rat {
  width: 100%;
}
