#sidebar{
    position:fixed;
    z-index: 0;
    right: 0px;
    top: 10%;
    height: 100%;
    width: 22%;
    background-color:  rgb(205, 189, 189);
    color: balck;
    padding: 1%;
}

#kontinentCheckboxContainer{
    position: relative;
    margin-bottom: 10%;
    left: 3%;
    margin-top: 0;
}

#tagsContainer{
    margin-bottom: 10%;
}

.MuiSlider-track, .MuiSlider-rail, .MuiSlider-mark, .MuiSlider-thumb{
    color: rgb(162, 119, 166);
}

